<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>

    <link rel="stylesheet" href="../_static/pyg-algol_nu.css" />

    <style>
      body {
        font-family: Arial,x-locale-body,sans-serif;
        font-size: 0.9em;
        display: flex;
        height: 100vh;
        flex-direction: column;
        margin: 0;
      }

      header {
        padding: 1em;
        font-size: 1.1em;
      }

      header span.ident {
        font-weight: bold;
      }

      #sources { 
        display: flex;
        flex: 1;
        overflow: scroll;
        padding: 1em 1em 0 1em;
      }

      #source-left, #source-right {
        flex: 50%; 
        border: 1px solid #666;
        overflow: scroll;
      }

      #sources .highlight pre span[id|="srcln"] {
        display: block;
      }

      #sources .highlight span.linenos {
        border: 1px solid #f0f0f0;
      }
    </style>
  </head>

  <body>
    <header>
      <span class="ident">Generated</span>: {{ timestamp }} <br>
      <span class="ident">IDs</span>: {{ id_left }} vs. {{ id_right }} <br>
      <span class="ident">Similarity</span>: {{ similarity }} <br>
      <span class="ident">Matches</span>: {{ total_matches }} <br>
      <span class="ident">Matching lines</span>: {{ total_lines_matching_left }} vs. {{ total_lines_matching_right }} <br>
    </header>
    <div id="sources">
      <div id="source-left">
{% include highlighted_src_left %}
      </div>
      <div id="source-right">
{% include highlighted_src_right %}
      </div>
    </div>
  </body>

  <script>
    const hl_line_ranges_left = {{ hl_line_ranges_left }};
    const hl_line_ranges_right = {{ hl_line_ranges_right }};
    const hl_colors = {{ hl_colors }};

    function highlight_lines(ranges, side, other_side, colors) {
      for (let r = 0; r < ranges.length; r++) {
        const [begin, end] = ranges[r];
        const color = colors[r];

        const box = document.createElement("div");

        box.id = `${side}-match-${r}`
        box.style.backgroundColor = color;

        box.addEventListener("click", function() {
          document.getElementById(`${other_side}-match-${r}`).scrollIntoView({ inline: "start" });
        });

        const begin_line = document.querySelector(`#source-${side} #srcln-${begin}`);
        
        begin_line.parentNode.insertBefore(box, begin_line);

        for (let i = begin; i <= end; i++) {
          const line = document.querySelector(`#source-${side} #srcln-${i}`);
          box.appendChild(line);          
        }
      }
    }

    window.addEventListener("load", function() {
      console.log(hl_colors);
      console.log(hl_line_ranges_left);
      console.log(hl_line_ranges_right);
      highlight_lines(hl_line_ranges_left, "left", "right", hl_colors);
      highlight_lines(hl_line_ranges_right, "right", "left", hl_colors);
    })
  </script>
</html>
